section{
	width: 900px;
	margin: 0 auto;
}

section > img{
	max-width: 100%;
}

div, h1, h3,  p, cite {
	display: block;
	max-width: 75%;
	margin: 0 auto;
	margin: green;
}

.categories {
	color: #0D9BCF;
}

.categories > a {
	text-transform: uppercase;
	color: #0D9BCF;
	font-family: sans-serif;
	font-size: 12px;
}

#title{
	padding-top: 28px;
	font-family: sans-serif;
	color: #222;
	font-size: 56px;
	line-height: 64.4px;
	max-width: 640px;
	min-width: 576px;
}


